<h1>APP</h1>

<BreadCrumbs />

{{!-- <div> --}}
	{{!-- <BreadCrumbs @tagName="ol" @outputStyle="bootstrap" @linkable="true"/> --}}
	{{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}
	{{!-- {{bread-crumbs tagName="ul" outputStyle="foundation" linkable=false}} --}}
{{!-- </div> --}}

<Nav />

{{outlet}}